

// colors definitions
$white: #fff;
$black: #000;
$grey-dark: #343434;
$grey-light: #343434;
$bolt: #c6e20c;

$site-orange: #f56857;
$site-blue: #428bca;


// fonts definitions
$font-jura:'Jura', sans-serif;
$font-lato:'Lato', sans-serif;
$font-roboto:'Roboto', sans-serif;
$font-arial:'Arial';

$font-size-default:100%; // = cross-browser font-size 16px
$font-size-default-px:16;
$line-height-default:1.2;

$font-size-10px:10;
$font-size-11px:11;
$font-size-12px:12;
$font-size-13px:13;
$font-size-14px:14;
$font-size-15px:15;
$font-size-16px:16;
$font-size-17px:17;
$font-size-18px:18;
$font-size-19px:19;
$font-size-20px:20;
$font-size-21px:21;
$font-size-22px:22;
$font-size-23px:23;
$font-size-24px:24;
$font-size-25px:25;
