
/**********************
******1. Buttons****
**********************/
.btn{
	color: #fff;
	font-size: 18px;
	min-height: 60px;
	border-radius: 40px;
	text-decoration: none;
	display: inline-block;
	line-height: 24px;
	padding: 16px 30px 20px;
	z-index: 1;
	position: relative;
	border: none;
}
.btn-icon{
	line-height: 32px;
	padding: 16px 32px 20px;
}
.btn-icon .icon{
	vertical-align: bottom;
	font-size: 32px;
	margin-right: 10px;
	display: inline-block;
}
.btn-primary{
	background-color: #f56857;
}
.btn-secondary{
	background-color: #09b8ed;
}
.btn:before{
	content: '';
	display: block;
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 1px;
	right: 1px;
	z-index: -1;
	border-radius: 40px;
	-webkit-transition-property: top, bottom, left, right;
	-webkit-transition-duration: 0.21s;
	-webkit-transition-timing-function: ease-in-out;
	transition-property: top, bottom, left, right;
	transition-duration: 0.21s;
	transition-timing-function: ease-in-out;
}
.btn:hover{
	text-decoration: none;
	color: #fff;
}
.btn:hover:before{
	top: -3px;
	bottom: -3px;
	left: -3px;
	right: -3px;
}
.btn-primary:before{
	background-color: #f56857;
}
.btn-secondary:before{
	background-color: #09b8ed;
}
