
/**********************
******12. Footer****
**********************/
footer{
	background-color: #2a434a;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -4;
	text-align: center;
}
footer h2{
	color: #fff;
	margin-bottom: 30px;
}
footer h2 img{
	height: 48px;
}
footer #social-links{
	margin: 0;
}
footer #social-links .icon{
	color: #fff;
	font-size: 32px;
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	border: 2px solid #fff;
	border-radius: 50%;
	opacity: 0.7;
	line-height: 55px;
	margin: 0 13px;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
footer #social-links .icon:hover{
	opacity: 1;
}
footer .copyright{
	font-size: 14px;
	margin: 50px 0 0;
}
